*{
    text-align: center;
    justify-content: center;
    align-content: center;
}

#boxes{
    display: flex;
    text-align: center;
    justify-content: center;
}

div {
    margin: 20px;
    height: 200px;
    width: 200px;
}
    
    
